# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://jznpaxtuorvzopabockf.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_gPa-2ahOUV7e84AB10GUqw_h7LnsTbs
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_from_supabase_settings_api

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_c3RpcnJlZC1iZWFyLTc1LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_RAWL7HUJXfeZgzKTIrIeOVYvtSf1uJYvR6qU0DVtsV
CLERK_WEBHOOK_SECRET=your_webhook_signing_secret_from_clerk_dashboard

# Clerk Redirects
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_IN_FALLBACK_REDIRECT_URL=/dashboard
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-in
